    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .nav 
    {
        background-color: rgb(36, 122, 47);
        color: white;
        padding: 10px;
        text-align: center;
    }

    .nav a 
    {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 10px;
        margin: 0 10px;
    }

    .container 
    {
        position: flex;
        width: 100%;
        height: 200px;
        background-color: #f2f2f2;
    }

    table 
    {
        height: min-content;
        margin: auto;
        width: 60%;
        border-collapse: collapse;
    }
    
    th, td
    {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }

    th
    {
        background-color: green;
        color: white;
    }
    
    .nocontorno
    {
        border: 0px;
        width: 1px;
        background-color: white;
    }

    .vertical-divider {
        border-left: 1px solid #ccc; /* Colore e spessore del divisore */
        height: 100px; /* Altezza del divisore */
        margin: 20px; /* Spaziatura attorno al divisore */
        padding-left: 20px; /* Spaziatura interna del divisore per il testo */
    }

  